USE [master]
GO
IF EXISTS (SELECT name FROM sys.databases WHERE name = 'ShoesStore')
BEGIN
    -- Set to single-user mode to terminate connections
    ALTER DATABASE [ShoesStore] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    
    -- Drop the database
    DROP DATABASE [ShoesStore];
END;
GO
/****** Object:  Database [ShoesStore]    Script Date: 2025-03-19 16:51:15 ******/
CREATE DATABASE [ShoesStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShoesStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShoesStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShoesStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ShoesStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShoesStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShoesStore]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 2025-03-19 16:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [char](64) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025-03-19 16:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderHeaderId] [int] NOT NULL,
	[shoesId] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
	[discount] [float] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[size] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderHeader]    Script Date: 2025-03-19 16:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeader](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date] [datetime] NOT NULL,
	[accountId] [int] NOT NULL,
	[status] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shoes]    Script Date: 2025-03-19 16:51:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](255) NOT NULL,
	[brand] [varchar](100) NOT NULL,
	[category] [varchar](100) NOT NULL,
	[size] [nvarchar](max) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[discount] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([Id], [Email], [Password], [FullName], [Role]) VALUES (1, N'admin@gmail.com', N'1                                                               ', N'Administrator', N'ADMIN')
INSERT [dbo].[Account] ([Id], [Email], [Password], [FullName], [Role]) VALUES (2, N'john@gmail.com', N'1                                                               ', N'John Smith', N'USER')
INSERT [dbo].[Account] ([Id], [Email], [Password], [FullName], [Role]) VALUES (3, N'walter@gmail.com', N'2                                                               ', N'Walter White ', N'USER')
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([id], [orderHeaderId], [shoesId], [quantity], [price], [discount], [address], [phone], [size]) VALUES (1, 1, 5, 1, 1900000, 0.31, N'8 NgÃ´ Quyá»n', N'012345678', 44)
INSERT [dbo].[OrderDetail] ([id], [orderHeaderId], [shoesId], [quantity], [price], [discount], [address], [phone], [size]) VALUES (2, 1, 11, 1, 1600000, 0.25, N'8 NgÃ´ Quyá»n', N'012345678', 44)
INSERT [dbo].[OrderDetail] ([id], [orderHeaderId], [shoesId], [quantity], [price], [discount], [address], [phone], [size]) VALUES (3, 1, 5, 2, 1900000, 0.31, N'8 NgÃ´ Quyá»n', N'012345678', 39)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderHeader] ON 

INSERT [dbo].[OrderHeader] ([id], [date], [accountId], [status]) VALUES (1, CAST(N'2024-12-04T00:00:00.000' AS DateTime), 3, N'PAID')
INSERT [dbo].[OrderHeader] ([id], [date], [accountId], [status]) VALUES (2, CAST(N'2025-02-23T00:00:00.000' AS DateTime), 3, N'PAID')
INSERT [dbo].[OrderHeader] ([id], [date], [accountId], [status]) VALUES (3, CAST(N'2025-03-16T00:00:00.000' AS DateTime), 3, N'PAID')
SET IDENTITY_INSERT [dbo].[OrderHeader] OFF
GO
SET IDENTITY_INSERT [dbo].[Shoes] ON 

INSERT [dbo].[Shoes] ([id], [name], [brand], [category], [size], [price], [discount]) VALUES (1, N'Adidas Ultra Boost 5 Olive Real Boost', N'Adidas', N'ULTRA BOOST', N'[39,40, 41, 42, 43,44,45]', CAST(1800000.00 AS Decimal(10, 2)), CAST(0.33 AS Decimal(5, 2)))
INSERT [dbo].[Shoes] ([id], [name], [brand], [category], [size], [price], [discount]) VALUES (2, N'Adidas Ultra Boost 5 Glory Grey Real Boost', N'Adidas', N'ULTRA BOOST', N'[39,40, 41, 42, 43,44,45]', CAST(1800000.00 AS Decimal(10, 2)), CAST(0.33 AS Decimal(5, 2)))
INSERT [dbo].[Shoes] ([id], [name], [brand], [category], [size], [price], [discount]) VALUES (3, N'Adidas Ultra Boost Light Shoes Orange Real Boost', N'Adidas', N'ULTRA BOOST', N'[ 41, 42, 43,44,45]', CAST(2000000.00 AS Decimal(10, 2)), CAST(0.45 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Shoes] OFF
GO
ALTER TABLE [dbo].[OrderHeader] ADD  DEFAULT ('New') FOR [status]
GO
ALTER TABLE [dbo].[Shoes] ADD  DEFAULT ((0.00)) FOR [discount]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([orderHeaderId])
REFERENCES [dbo].[OrderHeader] ([id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([shoesId])
REFERENCES [dbo].[Shoes] ([id])
GO
ALTER TABLE [dbo].[OrderHeader]  WITH CHECK ADD FOREIGN KEY([accountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[OrderHeader]  WITH CHECK ADD CHECK  (([status]='Paid' OR [status]='Shipping' OR [status]='New'))
GO
USE [master]
GO
